@import "ant-design-vue/dist/antd.css";
@import 'src/assets/base.less';
@import '@/assets/colors.less';

#app {
  /*max-width: 1280px;*/
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background: @primary-color;
}

@media (min-width: 1024px) {
  body {
    min-height: 100vh;
    display: flex;
  }
}
